.product-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    text-align: center;
  }

.row {
    display: flex;
    flex-wrap: wrap;
}

.category-box {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
        text-align: center;
}

.category-box img {
        width: 200px;
        height: 200px;
        object-fit: cover;
}

.custom-navbar {
    height: 80px;
}

.has-error input,
.has-error textarea,
.has-error select {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .text-danger {
  color: #a94442;
}

.star-rating {
  display: inline-block;
  font-size: 24px;
  width: 24px; /* Ajusta según sea necesario */
  text-align: center; /* Alinea el contenido al centro del ancho fijo */
  cursor: pointer;
  color: #ccc;
}

.star-rating:hover {
  color: black; /* Color al pasar el ratón por encima */
}

.rating {
    display: flex;
}