{% extends "master.html" %}
{% load static %}
{% load custom_operators %}
{% block title %}
  Category products
{% endblock %}

<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/minty/bootstrap.min.css">

{% block content %}
<style>
      .product-box {
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 5px;
      text-align: center;
      margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    }
      .product-box img {
        width: 200px; /* Tamaño deseado en píxeles */
        height: 200px; /* Tamaño deseado en píxeles */
        object-fit: cover; /* Esto asegura que la imagen mantenga sus proporciones y se ajuste al contenedor */
    }
</style>

  <h1>{{ message }}</h1>
  <div class="row">
    {% for product in products %}
      <div class="col-md-6">
        <div class="product-box">
            {% with image_path=product|get_image_route %}
    <img src="{% static image_path %}" alt="{{ product.nombre }}">
{% endwith %}
            <p>{{ product.nombre }}</p>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 and not forloop.last %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

