{% extends "master.html" %}
{% load static %}
{% load custom_operators %}
{% block title %}
  Home
{% endblock %}

<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/minty/bootstrap.min.css">

{% block content %}

<style>
    .category-box {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
        text-align: center;
    }

    .category-box img {
        width: 200px; /* Tamaño deseado en píxeles */
        height: 200px; /* Tamaño deseado en píxeles */
        object-fit: cover; /* Esto asegura que la imagen mantenga sus proporciones y se ajuste al contenedor */
    }
</style>

<!-- Landing page -->
<div class="container mt-5">
    <h1>{{ mensaje }}</h1>
    <div class="row">
        {% for category in categories %}
            <div class="col-md-6">
                <div class="category-box mb-4">
                    {% with image_path=category_images|get_image_route:category %}
                        <img src="{% static image_path %}" alt="{{ category }}">
                    {% endwith %}
                    <h2><strong>{{ category }}</strong></h2>
                    <a href="{% url 'etienda:category_products' category=category %}" class="btn btn-primary">View items</a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}